[submodule "Schmog/vendor/spdlog"]
	path = Schmog/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Schmog/vendor/GLFW"]
	path = Schmog/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Schmog/vendor/imgui"]
	path = Schmog/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "Schmog/vendor/glm"]
	path = Schmog/vendor/glm
	url = https://github.com/g-truc/glm.git
